USE [QuanLyDocGia]
GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDDG]    Script Date: 5/22/2022 9:55:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[AUTO_IDDG]()
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MaDocGia) FROM DOCGIA) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MaDocGia, 3)) FROM DOCGIA
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'DG00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'KH0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END
GO
/****** Object:  Table [dbo].[DocGia]    Script Date: 5/22/2022 9:55:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DocGia](
	[MaDocGia] [char](5) NOT NULL CONSTRAINT [IDDG]  DEFAULT ([DBO].[AUTO_IDDG]()),
	[HOTEN] [nvarchar](30) NOT NULL,
	[EMAIL] [nvarchar](30) NOT NULL,
	[SODIENTHOAI] [nvarchar](30) NOT NULL,
	[GIOITINH] [nvarchar](30) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[IMAGEURL] [nvarchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[DocGia] ([MaDocGia], [HOTEN], [EMAIL], [SODIENTHOAI], [GIOITINH], [DIACHI], [IMAGEURL]) VALUES (N'DG001', N'B', N'B', N'1212121444', N'Nữ', N'AAAAAAfffff', N'C:\Users\HUNG_IT\Documents\bug.PNG')
INSERT [dbo].[DocGia] ([MaDocGia], [HOTEN], [EMAIL], [SODIENTHOAI], [GIOITINH], [DIACHI], [IMAGEURL]) VALUES (N'DG003', N'B', N'B', N'1212121', N'Nữ', N'BBBBB', N'C:\Users\HUNG_IT\Documents\demo.jpg')
/****** Object:  StoredProcedure [dbo].[select_DG]    Script Date: 5/22/2022 9:55:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[select_DG]
as
	SELECT * FROM [dbo].[DocGia]
GO
